.Aside {
    
    max-width: 220px;
    width: 20%;
    min-width: 90px;
    min-height: 100vh;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.titleSlaca {
    height: 68px;
    width: 100%;

    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(255,179,84);
    background: linear-gradient(180deg, rgba(255,179,84,1) 0%, rgba(238,122,58,1) 100%);
}

.slacaLogo {
    
    width: 100%;
    max-height: 258px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slacaLogo img {
    max-width: 220px;
    width: 100%;
    max-height: 250px;
    height: auto;
}

.slacaUl li {
    
    max-width: 220px;
    width: 100%;
    height: 33px;

    font-size: 15px;
    color: #725C5C;
    font-weight: 500;
    

    display: flex;
    align-items: center;
    padding-left: min(24px, 10%); 
    
    border-bottom: 2px solid rgb(231, 231, 231);
}

#main {
    width: 100%;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    
    width: 100%;
    height: 68px;
    background: #FDF1EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titleHeader {
    max-width: 643px;
    width: 60%;
}

.titleHeader h1 {
    font-size: 22px;
    font-weight: 400;
}
.titleHeader h2 {
    font-size: 14px;
}

.languageImg {
    position: absolute;
    margin-top: 10px;
}

.language {
    width: 97px;
    height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: transparent;
    background-image: url('/public/images/language.png');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    padding-left: 31px;
}
.perfil {
    width: 202;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emailPerfil {
    text-align: end;
} 

.perfil span {
    font-size: 14px;
    font-weight: 400;
}

.perfil p {
    font-size: 12px;
    font-weight: 400;
}

.divImgPerfil {
    width: 48px; height: 30px;
    display: flex;
    justify-content: center;
    

}
.divImgPerfil img {
    border-radius: 70px;
}

.divImgPerfil p {
    color: white;
    position: absolute;

    width: 14px;
    height: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F85959;

    font-size: 10px;
    font-weight: 700;

    border-radius: 50px;
    margin-left: 20px;
    
}

.container {
    
    
    max-width: 1058px;
    width: 95%;
    min-height: 200px;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerLeft {
    
    max-width: 786px;
    width: 74%;
    margin-right: 30px;
}

.containerLeft-title {
    color: #ED7839;
    height: 55px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 10%;
    line-height: 25px;
    max-width: 786px;
    
    margin-bottom: 19px;
}

.videoBg {
    width: 100%;
    height: 439px;

}

.imagemVideo {
    width: 100%;
    height: 100%;
}
.divText-absolut {
    position: absolute;
    max-width: 783px;
    width: 58.5%;
    height: 439px;
    padding: 35px 35px;
    background: rgba(141, 53, 6, 0.5);
}
.divText-title {
    width: 90%;
    font-size: 24px;
    font-weight: 900;
    color: white;
    line-height: 25px;
    margin-bottom: 190px;
}
.divText-nameDiv {

    width: 75%;
    height: 100px;
    
    display: flex;
    align-items: center;
    
}
.divText-nameDiv img {
    width: 84px;
    height: 86px;
    border: 2px solid #ED7839;
    border-radius: 50px;
    padding: 2px;
    margin-right: 17px;
}
.divText-names h1 {
    font-size: 34px;
    font-weight: 900;
    line-height: 25px;
    color: white;
}
.divText-names h2 {
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    color: white;
    margin-top: 7px;
}

.containerRight {
    max-width: 242px;
    width: 23%;
    
    height: 512px;
    
    text-align: right;
}
.iconsRight {
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
}
.btnDownload {
    width: 120px;
    height: 31px;
    background: #ED7839;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 500;
    color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;

}

.btnPadrao { 
    width: 43px;
    height: 31px;
    background: #ED7839;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 5px;
}

.containerRight h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 7%;
    color: #ED7839;
    margin-bottom: 10px;
}
.detalhes {
    width: 100%;
    min-width: 150px;
    height: 439px;
    text-align: left;

    border: 1px solid #ECECEC;
    border-radius: 3px;
}
.detalhes h1 {
    height: 42px;
    padding: 10px 15px ;
    border-bottom: 1px solid #ECECEC;
    background: #FDF1EB;
    font-size: 20px;
    font-weight: 500;
    color: #4E4E4E;
}
.detalhesSpan {
    
    max-width: 212px;
    width: 90%;
    height: 364px;
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll;

}
.detalhesSpan::-webkit-scrollbar {
    width: 5px;
    background-color: #E7E7E7;
}
.detalhesSpan::-webkit-scrollbar-tumb {
    background-color: #BFBFBF;
}

.detalhesSpan p {
    font-weight: 400;
    font-size: 12px;
    color: #5C5C5C;

}

.resume {
    max-width: 1058px;
    width: 95%;    
    border: 1px #ECECEC solid;
    margin: 30px 0;
    cursor: pointer;
}

.h1Title {
    background: #FDF1EB;
    color: #4E4E4E;
    font-weight: 500;
    padding: 12px 10px;
    font-size: 20px;
    border-bottom: 1px #ECECEC solid;
}
.textResume{
    
    min-height: 150px;
    height: auto;
    padding: 17px;
    font-size: 14px;
    line-height: 22px;
   
}
.resume p {

    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
}

.disc {
    max-width: 1058px;
    width: 95%;
    border: 1px #ECECEC solid;
    min-height: 400px;
    height: auto;
    
}

.boxDisc {
    max-width: 1027px;
    width: 90%;
    
    min-height: 210px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px #ECECEC solid;

}
.boxDisc h2 {
    margin: 15px;
    font-size: 18px;
    color: #ED7839;
    font-weight: 700;
}
.divIconsDisc {
    width: 250px;
    height: 50px;
    
    display: flex;
    margin: 15px 0;
    justify-content: space-between;   
    
}
.boxDisc p {
    width: 626px;
    margin: 7px 0;
    
}

.containerDiscurssoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerDiscurssoes p {
    width: 626px;
    height: 40px;
    text-align: center;
}

.newTopicBtn {
    width: 133px;
    height: 32px;
    cursor: pointer;
    
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border: none;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 15px;
    font-weight: 700;
    color:  white;
    transform: translate( 0, 16px);
}
.btnBig {
    width: 235px;
}
.containerSugestion {
    width: 100%; 
    
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.formSugestions {
    width: 100%;
    height: auto;
}
.titleSugestion {
    font-size: 14px;
    font-weight: 400;
    margin: 15px auto;
}
.boxAssunto {
    
    width: 100%;
    margin-top: 7px;
}
.boxAssunto input{
    width: 100%;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-top: 1px;
}

.titleInput {
    font-size: 16px;
    color: #ED7839;
    font-weight: 700;
}

.boxConteudo {
    margin-top: 10px;
    width: 100%;
}
.boxConteudo input {
    width: 100%;
    height: 82px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-top: 1px;
}

.sendBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 31px;

    background: #EAF1F2;

    border: 1px solid #CCCCCC;
    border-top: none;
    border-radius: 0px 0px 4px 4px;

}

.sendBoldItalic {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.sendBoldItalic img {
    width: 12;
    height: 10px;
    cursor: pointer;
}

.sendBtn {
    cursor: pointer;
    width: 205px;
    height: 100%;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    border: none;

    color: white;
    font-size: 15px;

}

.containerFinished {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerFinished a {
    width: 626px;
    height: 40px;
    text-align: center;
    color: #F48F44;
    
}
.containerFinished a:hover {
    text-decoration: underline;
}
.commentSucess {
    height: 50px;
    margin: 30px 0;
    font-size: 14px;
    font-weight: 400;
}

.comentsDiv {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}   
.awaitAccept {
    width: 73%;
    max-width: 983px;
    min-height: 150px;
    height: 16%;
    
    position: absolute;
    background: #dddddde0;
    border: 1px solid #E7E7E7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.awaitAccept img {
    width: 23px;
    height: 25px;
}
.awaitAccept span {
    font-size: 16px;
    font-weight: 700;
    color: #707070;
    margin: 8px 0;
}

.awaitAccept a {
    font-size: 14px;
    font-weight: 400;
    color: #ED7839;
    text-decoration: underline;

}
.comment {
    max-width: 1028px;
    width: 95%;
    min-height: 150px;
    height: auto;

    cursor: pointer;

    margin-top: 17px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentComment {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #E7E7E7;
}

.commentTitle h2 {
    font-size: 16px;
    font-weight: 700;
    color: #ED7839;
    
}
.commentTitle p {
    font-size: 12px;
    font-weight: 500;
    color: #5C5C5C;}

.textComment {
    width: 90%;
    min-height: 40px;
    height: auto;

    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 5px 0;
}
.likedDiv {
    width: 160px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    

}
.likedDiv button {
    width: 27px;
    height: 19px;
    background: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.containerAnswer {
    width: 100%;
    height: auto;
}
.boxAnswer {
    width: 100%;
    min-height: 131px;
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.answerTitleDiv {
    height: 20px;
    width: 97%;
    
    display: flex;
    justify-content: space-between;
}
.answerTitleDiv h1 {
    font-size: 12px;
    font-weight: 700px;
    color: #5C5C5C
}
.answerTitleDiv span {
    font-size: 14px;
    font-weight: 700;
    color: #ED7839;
}
.answerTitleDiv div {
    display: flex;
    align-items: center;
}
.answerTitleDiv img {
    margin-left: 25px;
}
.textAnswer {
    width: 97%;
    min-height: 60px;
    height: auto;

    font-size: 14px;
    font-weight: 400;

}
.authorText {
    background: #F8F8F8;
}
.coAuthorText {
    background: #F8F8F8;
}

.dots {
    width: 4px;
    height: 24px;
}

footer {
   margin-top: 40px;
   width: 95%;
}
footer img {
    width: 95%;
}